body {
    font-family: 'Roboto';
}

#title h1 {
    font-family: 'Bebas Neue';
    margin: 0;
}

#movies {
    font-family: 'Roboto Condensed';
}

.note1 {
    font-size: 1.2em;
    color: #D91E18;
}
.note2 {
    font-size: 1.2em;
    color: #F39C12;
}
.note3 {
    font-size: 1.2em;
    color: #663399;
}
.note4 {
    font-size: 1.2em;
    color: #26A65B;
}
.note5 {
    font-size: 1.2em;
    color: #22A7F0;
}
